<category>
 <aps-config>  
	<onlinetype>  
		<client>1</client>
		<web>0</web>
		<wap>0</wap>
	</onlinetype>
	<pushtype>  
		<ip-push>1</ip-push>  
		<emn-push>1</emn-push>  
		<web-push>0</web-push>  
		<sms-push>1</sms-push>  
		<mms-push>1</mms-push>  
		<wap-push>1</wap-push>  
		<mail-push>0</mail-push>  
	</pushtype>
  </aps-config>
  <id>mipmdp</id>
  <categoryname>接入配置</categoryname>
  <comment></comment>
  <initClassName>com.dheaven.mip.plugin.mdp.MipMdpPlugin</initClassName>
  <iplugin>com.dheaven.mip.plugin.mdp.MipMdpPlugin</iplugin>
  <ui>
  <enable>true</enable>
  <logohref>mdp/mdpadmin/images/icon_mdp.jpg</logohref>
  <url>mdp/mdpadmin/index.jsp</url>
  <adminurl></adminurl>
 </ui>
 <socketprefix>
    <prefix>mdp</prefix>
    <dispatcher>com.dheaven.mip.plugin.mdp.socket.MdpCommandNode</dispatcher>
  </socketprefix>
  <dep>
  </dep>
  <vos>   
  <vo>
	<value>com.dheaven.mip.plugin.mdp.dataaccess.vo.MipMdpLog</value>
  </vo>
  <vo>
	<value>com.dheaven.mip.plugin.mdp.dataaccess.vo.MdpExtention</value>
  </vo>
  
   <vo>
	<value>com.dheaven.mip.plugin.mdp.dataaccess.vo.MdpLogs</value>
  </vo>
  
  </vos>
  <permissions>
	  <permission>
	      <id>1</id>
	      <permissionname>访问权限</permissionname>
	      <privacybit>1</privacybit>
      </permission>
      <permission>
	      <id>2</id>
	      <permissionname>管理权限</permissionname>
	      <privacybit>2</privacybit>
      </permission>
  </permissions>
  <servletsmapping>
  <string>/mdp/sso.do=ssoServletController</string>
  <string>/mdp/dhmi.do=dhmiServletController</string>
  <string>/mdp/mdpconfig.do=mdpconfig</string>
  <string>/mdp/sign.do=sign</string>
  <string>/mdp.do=mdpInterface</string>
  <string>/mdp/tools/comparison.do=comparison</string>
  <string>/mdp/webaction.do=webActionController</string>
  </servletsmapping>
</category>