<category>
  <id>mdpfile</id>
  <categoryname>MDP公文流转</categoryname>  
  <comment></comment>
  <iplugin>com.dheaven.mip.plugin.mdpdhmi.MipMdpDhmiPlugin</iplugin>
  <ui>
    <enable>false</enable>
    <logohref>/images/user_icon_8.jpg</logohref>
    <url></url>
    <adminurl></adminurl>
  </ui>
  <socketprefix>
    <prefix>mdpfile</prefix>
    <dispatcher>com.dheaven.mip.plugin.mdpdhmi.socket.WorkFlowCommandNode</dispatcher>
  </socketprefix>
  <dep>
  </dep>
  <vos>
  </vos>
  <permissions>
  </permissions>
  <servletsmapping>
    	<string>/dhmiworkflow.do=dhmiworkflowServlet</string>
  </servletsmapping>
</category>