<category>
  <id>mipemasus</id>
  <categoryname>SUS</categoryname>
  <comment>SUS</comment>
    <iplugin>com.dheaven.mip.plugin.sus.MipSusPlugin</iplugin>
  <ui>
    <enable>true</enable>
    <logohref>/images/user_icon_2.jpg</logohref>
    <url>source/admin_source.jsp</url>
    <adminurl></adminurl>
  </ui>   
  
  <socketprefix>
    <prefix>sus</prefix>
    <dispatcher>com.dheaven.mip.plugin.sus.socket.SusCommandNode</dispatcher>
  </socketprefix>
  
  <dep>
  </dep>
  <vos>
  </vos>
  <permissions>
   <permission>
      <id>1</id>
      <permissionname>管理权限</permissionname>
      <privacybit>1</privacybit>
    </permission>
    <permission>
      <id>2</id>
      <permissionname>访问权限</permissionname>
      <privacybit>2</privacybit>
    </permission>
  </permissions>
  <servletsmapping>
     <string>/sus.do=susServlet</string>
     <string>/susupload.do=susuploadServlet</string>
  </servletsmapping>
</category>