<category>
  <id>mipmail</id>
  <categoryname>移动邮件</categoryname>
  <comment>my pushmail</comment>
  <iplugin>com.dheaven.mip.plugin.mail.MipMailPlugin</iplugin>
  <initClassName>com.dheaven.mip.plugin.mail.InitMailPlugin</initClassName>
  <ui>
    <enable>true</enable>
    <logohref>icon_3_96</logohref>
    <url>../mail/admin_mail.jsp</url>
    <adminurl></adminurl>
  </ui>
  <socketprefix>
    <prefix>mail</prefix>
    <dispatcher>com.dheaven.mip.plugin.mail.socket.MailCommandNode</dispatcher>
  </socketprefix>
  <dep>
  </dep>
  <vos> 
  		<vo>
      <value>com.dheaven.mip.plugin.mail.vo.MipMail</value>
    </vo>
    <vo>
      <value>com.dheaven.mip.plugin.mail.vo.MipMailconfig</value>
    </vo>
    <vo>
      <value>com.dheaven.mip.plugin.mail.vo.MipPushruleblocklist</value>
    </vo>
    <vo>
      <value>com.dheaven.mip.plugin.mail.vo.MipPushrulefilter</value>
    </vo>
    <vo>
      <value>com.dheaven.mip.plugin.mail.vo.MipPushruletime</value>
    </vo>
    <vo>
      <value>com.dheaven.mip.plugin.mail.vo.MipPushruletrustlist</value>
    </vo>
    
  </vos>
  <permissions>
	  <permission>
	      <id>1</id>
	      <permissionname>访问权限</permissionname>
	      <privacybit>1</privacybit>
      </permission>
      <permission>
	      <id>2</id>
	      <permissionname>管理权限</permissionname>
	      <privacybit>2</privacybit>
      </permission>
  </permissions>
  <servletsmapping>
    <string>/mailconfig.do=mailConfigServlet</string>
    <string>/mailpushrulefilter.do=mailpushrulefilterServlet</string>
    <string>/mailpushruletime.do=mailpushrulepushtimeServlet</string>
    <string>/mailpushrulewhitename.do=mailpushrulewhitenameServlet</string>
    <string>/mipEnterpriseMailConfig.do=mipEnterpriseMailConfigServlet</string> 
    <string>/psmlInterface=psmlInterfaceController</string>    
  </servletsmapping>
	<aps-config>  
		<onlinetype>  
			<client>1</client>
			<web>0</web>
			<wap>0</wap>
		</onlinetype>
		<pushtype>  
			<ip-push>1</ip-push>  
			<emn-push>1</emn-push>  
			<web-push>0</web-push>  
			<sms-push>1</sms-push>  
			<mms-push>1</mms-push>  
			<wap-push>1</wap-push>  
			<mail-push>0</mail-push>  
		</pushtype>
  </aps-config>
</category>